!.gitkeep
/.idea/
.php_cs.cache
.phpunit.result.cache
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
bash.exe.stackdump

/.env
/tests/_support/_generated/
/tests/_output/
/codeception.yml
/phpunit.xml
